
<div class="w-full max-w-7xl mx-auto" x-data="{action:''}"> 
    <div class="flex w-full lg:flex-row flex-col justify-between lg:items-center gap-2 mb-3 p-2 bg-base-300 rounded-md">

        <form x-ref="filterForm" action="/admin/appointment/input/srch" method="POST" class="flex items-center  gap-2 m-0   w-full flex-grow">
            <div class=" grid grid-cols-2 gap-2 max-md:grid-cols-1">
                <label class="input ">
                    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></g></svg>
                    <input type="search" name="code" value="<%=admin.appointment.input.code%>"  x-on:keydown.ctrl.k.prevent.window="$el.focus()" class="grow" placeholder="Search code"  />
                    <kbd class="kbd kbd-sm">ctrl</kbd>
                    <kbd class="kbd kbd-sm">K</kbd>
                </label>
                
                <%
                    const currentDate = new Date();
                    const minYear = 2024;
                    const maxYear = 2050;
                    const range = 9;

                    const currentYear = currentDate.getFullYear();
                    let cursor = Math.max(minYear,currentYear-range);
                    const end = Math.min(maxYear,currentYear+range);
                    console.log(admin.appointment.input.month)
                %>
                <div class="join  w-full">   
                    
                    <select x-on:change="$refs.filterForm.submit()"  name="month" value="<%= admin.appointment.input.month %>" class="select select-bordered join-item max-w-32 ">
                        <option value='0'  <%= 0 ==  admin.appointment.input.month?'selected':'' %>>January</option>
                        <option value='1'  <%= 1 ==  admin.appointment.input.month?'selected':'' %>>February</option>
                        <option value='2'  <%= 2 ==  admin.appointment.input.month?'selected':'' %>>March</option>
                        <option value='3'  <%= 3 ==  admin.appointment.input.month?'selected':'' %>>April</option>
                        <option value='4'  <%= 4 ==  admin.appointment.input.month?'selected':'' %>>May</option>
                        <option value='5'  <%= 5 ==  admin.appointment.input.month?'selected':'' %>>June</option>
                        <option value='6'  <%= 6 ==  admin.appointment.input.month?'selected':'' %>>July</option>
                        <option value='7'  <%= 7 ==  admin.appointment.input.month?'selected':'' %>>August</option>
                        <option value='8'  <%= 8 ==  admin.appointment.input.month?'selected':'' %>>September</option>
                        <option value='9'  <%= 9 ==  admin.appointment.input.month?'selected':'' %>>October</option>
                        <option value='10' <%= 10 == admin.appointment.input.month?'selected':'' %>>November</option>
                        <option value='11' <%= 11 == admin.appointment.input.month?'selected':'' %>>December</option>
                    </select> 
    
                    <select value="<%= admin.appointment.input.year %>" name="year"  x-on:change="$refs.filterForm.submit()"  class="select select-bordered join-item max-w-24 ">
                        <%  for(;cursor <= end;cursor++){ %>
                            <option value="<%= cursor %>" <%= cursor == admin.appointment.input.year?'selected':'' %>><%= cursor %></option>
                        <% } %>    
                    </select>
                </div>
                
            </div>
            
        </form>
        <div class="flex items-center  gap-2    w-full lg:max-w-xs  ">
          
            <select x-model="action" class="select border border-base-300">
                <option value="/" selected="selected" >--Select action--</option>
                <option value="/admin/visit/appointment/delete">Delete selected appointment</option>
            </select>
            <button type="submit" class="btn bg-base-100 border border-base-300 btn-square" x-on:click="$dispatch('send-selected-appointment')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                    
            </button>
        
        </div>
    </div>
    <form x-bind:action="action" method="POST" x-on:send-selected-appointment.window="$el.submit()"  class="bg-base-100 rounded-box border border-base-300 overflow-x-auto" x-data="{slctdAcct:0}">
        <table class="w-full table table-sm">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Date</th>
                    <th >Time</th>
                    <th>Visit Status</th>
                    <th>No. of participants</th>
                    <Th class="text-end"> Creator</Th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(const appointment of admin.appointment.appointments){ %>
                  <tr>
                    <td>
                        <div class="flex items-center gap-3 ">
                            <input type="checkbox" name="slctdAppointments[]"  value="<%= appointment.id %>" class="checkbox checkbox-sm">
                            
                            <span>
                                <%= appointment.code %>
                            </span>
                        </div>
                    </td>
                    <td><span class="min-w-max"><%= (new Intl.DateTimeFormat("en-US", {dateStyle: 'long'})).format(new Date(appointment.date)) %></span></td>
                    <% 
                        let timeFormat = new Date();
                        let hour = timeFormat.getHours();
                        (timeFormat).setHours(...((appointment.time.split(':')).map(el=>parseInt(el))));
                    %>
                    <td><%= timeFormat.toLocaleTimeString() %></td>
                    <td >
                        <span
                        <% if(appointment.status == 0  ){ %>
                            <% if((+appointment.time.split(':')[0]) == hour){ %>

                                class="badge badge-success">On going 
                            <% }else if((+appointment.time.split(':')[0]) > hour){ %>
                                class="badge badge-warning">Reserved
                            <% }else{ %>
                                class="badge badge-ghost">Done 
                            <% } %>
                        <% }else if(appointment.status < 0){ %>
                            class="badge badge-warning">Reserved
                        <% }else{ %>
                            class="badge badge-ghost">Done 
                        <% } %>

                        </span>
                    </td>
                    <td><%=appointment.member.length%></td>
                    <td class="text-end">
                        <%= appointment.user.email %>
                            
                        
                    </td>
                    <td class="text-end w-[50px] ">
                        <button class="btn btn-xs bg-base-200 rounded-full " x-on:click.prevent.stop="$dispatch('edit-appointment-modal',{code:'<%= appointment.code %>',id:'<%= appointment.id %>',date:'<%= appointment.date %>',creator:'<%= appointment.user.email %>',members:<%= JSON.stringify(appointment.member) %>,time:'<%= appointment.time %>'})">
                            view
                        </button>
                    </td>
                  </tr>
                <% }  %>

            </tbody>
        </table>
    </form>
</div>
<dialog x-data="{id:'',code:'',date:'',creator:'',members:[],memberStringfy:'',time:''}" x-on:edit-appointment-modal.window="$el.show();id = $event.detail.id;code = $event.detail.code;date = $event.detail.date;time = $event.detail.time;creator = $event.detail.creator;memberStringfy = JSON.stringify(members = $event.detail.members);" class="modal">
    
    <div class="modal-box max-h-[90vh]">
        <form method="dialog">
            
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <form action="/admin/visit/appointment/update" method="POST" class=" p-0 m-0 " x-data="{editMode:false}" >
            <div class="flex gap-2">
                <label class="swap btn btn-ghost btn-square bg-base-200">
                    <!-- this hidden checkbox controls the state -->
                    <input type="checkbox" x-model="editMode"/>
                  
                    <!-- volume on icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 swap-on">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                      </svg>
                      
                  
                    <!-- volume off icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 swap-off">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                      </svg>
                      
                  </label>
               <div>        
                    <h1 class="text-2xl leading-none font-bold" x-text="code"></h1>
                    <p class="mb-2 text-sm text-base-content/50" x-text="creator"></p>
               </div>
               
            </div>
            <div x-show="!editMode">
                <p class="text-xs font-bold text-base-content/50">Date</p>
                <p  x-text="(new Date(date)).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })"></p>

                <p class="text-xs font-bold text-base-content/50 mt-2">Time</p>
                <p x-text="((time.split(':')[0])%12) + ' ' + (parseInt(time.split(':')[0]) <= 12?'am':'pm')"></p>
<!--                 
                <p class="text-sm mt-2 text-base-content/50 ">Members</p> -->
                <table class=" table  [&_tr]:border-none mt-2">
                    <thead>
                        <tr>
                            <th class="px-0 py-1">name</th>
                            <th class="px-0 py-1 text-end">gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="(member, index) in members">
                            <tr>
                                <td class="px-0 py-1">
                                    <span x-text="member.name" class="truncate overflow-clip" ></span>
                                        
                                </td>
                                <td class="px-0 py-1 text-end">
                                    <span x-text="member.gender =='m' ?'male':'female'" class="px-2 rounded-md font-semibold py-0.5" x-bind:class="member.gender == 'm'?'bg-blue-600/25 text-blue-600':'bg-pink-600/25 text-pink-600'"></span>
                                      
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            <div x-show="editMode">
                <input type="hidden" name="id" x-bind:value="id">
                <input type="hidden" name="members" x-bind:value="memberStringfy">
                <label class="form-control w-full ">
                    <div class="label">
                        <span class="label-text">Date</span>
                    </div>
                    <input type="date"  name="date" x-model="date" class="input input-bordered w-full " />
                    
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Time</span>
                    </div>
                    <select name="time" x-model="time"  class="mb-2 select select-bordered w-full">
                        <% for(const [time,value] of Object.entries(admin.appointment.timeOption)){ %>
                            <option value="<%= time %>"><%= time %></option>
                        <% } %>
                    </select>
                </label>
                
                <div class="label">
                    <span class="label-text">Members</span>
                </div>
                <div class="grid grid-rows-[auto_auto_1fr] w-full gap-1 " x-data="{first_name:'',last_name:'',middle_name:'',gender:'m',notify:''}">
                
                    
                    <div class="grid grid-cols-[1fr_auto] min-w-full  gap-1" >
                    
                        <label class="input col-span-2 w-full">
                            <span class="label w-[80px]">first&nbsp;&nbsp;</span>
                            <input class="" x-on:change="notify=''" placeholder="Input here" x-model="first_name" />
                        
                        </label>
                        <label class="input  col-span-2 w-full">
                            <span class="label w-[68px]">middle</span>
                            <input x-on:change="notify=''" placeholder="Input here" x-model="middle_name" />
                        
                        </label>
                        <label class="input  col-span-2 w-full">
                            <span class="label w-[80px]">last&nbsp;&nbsp;</span>
                            <input  x-on:change="notify=''" placeholder="Input here" x-model="last_name" />
                        
                        
                        </label>
                        <select class="select w-full join-item  select-bordered" x-model="gender">
                            <option selected value="m">male</option>
                            <option value="f">female</option>
                        </select>
                        <button class="btn btn-ghost btn-square border " x-on:click.stop.prevent="
                            notify='';
                          
                            if(first_name.length == 0 || last_name.length == 0){
                                notify='Empty first/last name.'
                            }else{  
                                let found = false;
                                first_name = String(first_name).charAt(0).toUpperCase() + String(first_name).slice(1);
                                last_name = String(last_name).charAt(0).toUpperCase() + String(last_name).slice(1);
                                middle_name = String(middle_name).charAt(0).toUpperCase() + String(middle_name).slice(1);
                                
                                const input =first_name +(middle_name.length > 0?' ':'')+middle_name+' ' + last_name;

                                for(let i = 0;i < members.length;i++){
                                    const recorded=   members[i].name;
                                    if((recorded == input)){
                                        found = true;
                                        break;
                                    }
                                }
                                
                                
                                if(found){
                                    notify='Duplicate entry.';
                                }else{
                                    members.push({name:input,gender:gender}); 
                                }
                                first_name='';
                                last_name='';
                                middle_name='';
                            }
                            
                            
                        ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                    <div class="overflow-y-scroll border rounded-md p-1 min-h-72 max-h-72 w-full ">
                        <table class="text-sm  w-full">
                            <thead>
                                <tr>
                                    <th class="text-sm font-semibold text-base-content/30 px-2 text-start">
                                        <div class="flex items-center justify-between">
                                            <span>
                                                first and last name</span>
                                                <span>gender</span>
                                        </div>
                                    
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <template x-for="(member, index) in members">
                                    <tr>
                                        <td>
                                            <div class="grid  grid-cols-[1fr_auto_auto] gap-1 rounded-md w-full items-center px-1 py-1  ">
                                                <span x-text="member.name" class="truncate overflow-clip" ></span>
                                                
                                                
                                                <span x-text="member.gender =='m' ?'male':'female'" class="px-2 rounded-md font-semibold py-0.5" x-bind:class="member.gender == 'm'?'bg-blue-600/25 text-blue-600':'bg-pink-600/25 text-pink-600'"></span>
                                                <button class="btn btn-xs btn-square " x-on:click.stop.prevent="members.splice(index,1);memberStringfy=JSON.stringify(members)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                    </svg>
                                                    
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <div role="alert" class="alert alert-error alert-soft" x-show="notify.length > 0">
                        <span x-text="notify">Error! Task failed successfully.</span>
                    </div>
                </div>
                <div class="flex justify-end">
                    <button class="btn btn-success">Save Data</button>
                </div>
            </div>
            
        </form>
    </div>
    
</dialog>