
<div   class="mx-auto ">

    <div class=" mx-auto  -z-20 ">
        <div class="drawer md:drawer-open">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content min-h-screen">
                <div class="max-w-5xl mx-auto p-5 space-y-5">
                    <%- include('srchdAppt'); %>
                    <%- include('smlrAppt'); %>
                    <%- include('slctdSchd'); %>
                    <%- include('calendar'); %>
                </div>
            </div>
            <div class="drawer-side">

                <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                
                <div class="   border-r border-r-base-300 bg-base-100 h-full max-w-sm w-72 space-y-8 overflow-y-scroll p-5">
                  
                      
                    <form class="m-0"  x-ref="codeFilter" action="/admin/visit/input" method="POST">
                        <div class="flex items-center gap-3 font-semibold text-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>
                                
                            Search
                        </div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                              <span class="label-text">Ignore date</span>
                              
                                <input type="checkbox" name="adminVisitInputIgnoreDate"  class="toggle toggle-sm" <% if(admin.visit.input.ignoreDate){ %>checked <% }%>/>
                            </label>
                        </div>
                        <label class="form-control ">
                            <div class="label pt-0 pb-1">
                                <span class="label-text">Code</span>
                            </div>
                            <input type="text" name="adminVisitInputCode" value="<%= admin.visit.input.code %>" class="input input-sm input-bordered" placeholder="Search code" x-on:keyup.enter="$refs.codeFilter.submit()"/>
                           
                        </label>
                       
                        <label class="form-control mt-2">
                            <div class="label pt-0 pb-1">
                                <span class="label-text">Schedule Date</span>
                            </div>
                            <input type="date" name="adminVisitInputSelectedDate" value="<%= admin.visit.input.year %>-<%= new String(admin.visit.input.month).padStart(2,'0') %>-<%= new String(admin.visit.input.day).padStart(2,'0') %>" required class="input input-sm input-bordered" >
                  
                            
                        </label>
                     
                        
                        <div class=" flex justify-end col-span-full mt-3">
                    
                            <button class="btn btn-sm px-4 btn-ghost border border-base-300 " type="submit">
                                
                                filter 
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                                </svg>
                                
                            </button>
                        </div>
                    </form>
                    <!-- <div class=" "  x-data="{activetab:1}">
                        <div role="tablist" class="tabs  tabs-boxed   ">
                            <button role="tab" class="tab " x-bind:class="activetab == 1?'bg-base-100':''" x-on:click="activetab=1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
                                </svg>
                                range date
                            </button>
                            <button role="tab" class="tab" x-bind:class="activetab == 2?'bg-base-100':''"x-on:click="activetab=2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                                </svg>
                                
                                individual date
                            </button>
                        </div>
                        <form action="/admin/appointment/update/availability/range" method="post" class="m-0 " x-bind:class="activetab==1?'':'hidden'">
                            
                            <label class="form-control w-full ">
                                <div class="label">
                                    <span class="label-text">start </span>
                                </div>
                                <input type="date" required class="input input-sm input-bordered" name="startDate">
                            </label>
                            <label class="form-control w-full ">
                                <div class="label">
                                    <span class="label-text">end</span>
                                </div>
                                <input type="date" required class="input input-sm input-bordered" name="endDate">
                            </label>
                            <div class="form-control h-fit">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Is available</span>
                                    <input type="checkbox" checked="checked" value="1" class="checkbox" name="isAvailable" />
                                </label>
                            </div>
                                
                            <div class=" flex justify-end col-span-full">
                                
                                <button class="btn  btn-sm px-4 border border-base-300 " type="submit">
                                    
                                    update
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                                    </svg>
                                    
                                </button>
                            </div>
                        
                        </form>
                        <form action="/admin/appointment/update/availability/individual" method="post" class="m-0 " x-bind:class="activetab==2?'':'hidden'" >
                            <label class="form-control w-full ">
                                <div class="label">
                                    <span class="label-text">date</span>
                                </div>
                                <input type="date" required class="input input-sm input-bordered" name="date">
                            </label>
                            <div class="form-control h-fit">
                                <label class="label cursor-pointer">
                                    <span class="label-text">Is available</span>
                                    <input type="checkbox" checked="checked" value="1" class="checkbox" name="isAvailable" />
                                </label>
                            </div>
                            <div class=" flex justify-end col-span-full">
                            
                                <button class="btn btn-ghost btn-sm  bg-base-100 px-4 border border-base-300" type="submit">
                                    
                                    update
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                                    </svg>
                                    
                                </button>
                            </div>
                        
                        </form>
                    </div> -->
                        
                </div>
            </div>
        </div>

    </div>
</div>
